<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>やさしいチャット(仮)</title>

    <!-- フォント Baloo Paaji 2 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="/ChatApp/static/css/reset.css">
    <link rel="stylesheet" href="/ChatApp/static/css/style.css">
</head>

<body>
    <!-- {% block content %} -->
    
    <!-- {% endblock %} -->
</body>