{% extends "base.html" %}
{% block content %}

<!-- タイムライン部分 -->
<div class="chat_conteiner">
    <div class="chat_messages">
        {% for msg in messages %}
        {% if msg.uid == uid %}
        <!-- 自分のメッセージ -->
        <div class="message my_message">
            <!-- アイコン -->
            <div class="my_icon">■</div>
            <!-- 吹き出し -->
            <div class="my_bubble">
                <!-- formで受け取ったメッセージが表示される -->
                {{ msg.message }}
            </div>
        </div>
        {% else %}

        <!-- 相手のメッセージ -->
        <div class="message other_message">
            <!-- 相手のアイコン -->
            <div class="other_icon">●</div>
            <!-- 相手の吹き出し -->
            <div class="other_bubble">
                {{ msg.message }}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>


    <!-- テキスト入力、送信ボタン、定型文ボタン -->
    <div class="send_box">
        <p>▼チャットを始める</p>
        <!-- このformが送信されるとapp.pyで記述したcreate_message関数が呼び出される -->
        <!-- 20250814 修正 -->
        <form action="{{ url_for('create_message' , cid=channel['id']) }}" method="post">
            <!-- name="message"に入れたテキストが request.form.get("message")で受け取られ投稿される -->
            <button type="button" id="template_btn">定型文</button>

            <!-- 定型文ポップアップ -->
            <div id="template_popup">
                <button class="close_btn">✕閉じる</button>
                <ul>
                    <li class="template_text">おはようございます</li>
                    <li class="template_text">元気ですか？</li>
                    <li class="template_text">助けてください</li>
                </ul>
            </div>
            <!-- 20250814 修正 name属性が無いとダメ-->
            <input type="text" id="send_message" name="message" required>
            <!-- inputは終了タグいらない -->
            <button type="submit" id="send_btn">送信</button>
        </form>

        <!-- delete_message関数呼び出す削除ボタンの実装(予定) -->
    </div>
</div>

{% endblock %}
