{% extends "base.html" %}
{% block content %}

<!-- タイムライン部分 -->
<div class="chat_wrapper">
    <!-- サイドバーコンポーネント追加する記述 -->
    {% include "components/sidebar.html" %}
</div>

<div class="chat_container">
    <div class="chat_messages">
        {% for msg in messages %}
        {% if msg.uid == uid %}
        <!-- 自分のメッセージ -->
        <div class="message my_message">
            <!-- アイコン -->
            <div class="my_icon">■</div>
            <!-- 20250819追記 吹き出しと削除ボタンを縦並び用 -->
            <div class="bubble_container aligin_end">
                <!-- 吹き出し -->
                <div class="my_bubble">
                    <!-- formで受け取ったメッセージが表示される -->
                    {{ msg.message }}
                </div>
                <!-- 20250819追記 自分メッセージ専用：削除ボタン -->
                <form class="action_line" action="{{ url_for('delete_message', cid=channel['id'], message_id=msg.id) }}" method="post">
                    <button type="submit" class="delete_btn_link" aria-label="削除">削除</button>
                </form>
            </div>
        </div>
        {% else %}

        <!-- 相手のメッセージ -->
        <div class="message other_message">
            <!-- 相手のアイコン -->
            <div class="other_icon">●</div>
            <!-- 20250819追記 吹き出しと削除ボタンを縦並び用 -->
            <div class="bubble_container aligin_start">
                <!-- 相手の吹き出し -->
                <div class="other_bubble">
                    {{ msg.message }}
                </div>
                <!-- 20250819追記 相手メッセージ専用：いいねボタン（既に押してたら無効化） jinja2テンプレートの記述は仮-->
                <form class="action_line" action="/channels/{{channel.id}}/messages/{{msg.id}}/like"  method="post">
                    <button type="submit" class="like_btn_link">いいね</button>  
                </form>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <!-- テキスト入力、送信ボタン、定型文ボタン -->
    <div class="send_box">
        <p>▼チャットを始める</p>
        <!-- このformが送信されるとapp.pyで記述したcreate_message関数が呼び出される -->
        <!-- 20250814 修正 -->
        <form action="{{ url_for('create_message' , cid=channel['id']) }}" method="post">
            <!-- name="message"に入れたテキストが request.form.get("message")で受け取られ投稿される -->
            <button type="button" id="template_btn">定型文</button>

            <!-- 定型文ポップアップ -->
            <div id="template_popup">
                <button class="close_btn">✕閉じる</button>
                <ul>
                    <li class="template_text">おはようございます</li>
                    <li class="template_text">元気ですか？</li>
                    <li class="template_text">助けてください</li>
                </ul>
            </div>
            <!-- 20250814 修正 name属性が無いとダメ-->
            <input type="text" id="send_message" name="message" required>
            <!-- inputは終了タグいらない -->
            <button type="submit" id="send_btn">送信</button>
        </form>
    </div>
</div>
{% endblock %}
