{% extends "base.html" %}

    {% block content %}
    <div class="form_box">
        <h1>ログインしてください</h1>
            <!-- このformが送信されるとapp.pyで記述したlogin_process関数が呼び出される -->
            <form name="login_form" action="{{ url_for('login_process') }}" method="post">

            <p>メールアドレスを入力してください</p>
            <input type="email" name="email" placeholder="例: example@gmail.com">

            <p>パスワードを入力してください</p>
            <input type="password" name="password" placeholder="例: yamada1234">
            {% with messages = get_flashed_messages() %} {% if messages %}
            <ul class="flashes">
             {% for message in messages %}
             <li>{{ message }}</li>
             {% endfor %}
            </ul>
            {% endif %} {% endwith %}

            <input type="submit" name="login_button" value="ログイン">

        </div>
    </form>
    {% endblock %}

