{% extends "base.html" %}


<body>
    {% block content %}
    <form name="signup_form">

        <h1>アカウントを作成します</h1>

        <div class="form_box">
            <p>お名前を入力してください</p>
            <input type="name" id="name" placeholder="例: 山田太郎" maxlength="8">

            <p>メールアドレスを入力してください(必須)</p>
            <input type="email" id="email" placeholder="例: example@gmail.com">

            <p>パスワードを入力してください(必須)(8文字以上/英数字)</p>
            <input type="password" id="password" placeholder="例: yamada1234" minlength="8">

            <p>もう一度パスワードを入力してください(必須)</p>
            <input type="password-confirmation" id="password-confirmation" placeholder="例: yamada1234">

            <input type="submit" name="signup_button" value="登録する">
        </div>
    </form>
    {% endblock %}
</body>
